<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /notifypro/

    # Allow any files or directories that exist to be displayed directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other URLs to index.php/URL
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # If mod_rewrite is not available, show an error message
    ErrorDocument 404 /notifypro/index.php
</IfModule>
